#mapid { 
    height: 400px; 
    /* width: 400px; */
    margin: 0 auto;
    width: 70%;
}
.img-avatar {
    height: 120px;
    width: 120px;
    margin: -60px auto 0 auto;
  }
  #hero-img {
    max-height: 250px;
    overflow: hidden;
  }
  .card-img-top {
    display: block;
    max-width: 100%;
    height: auto !important;
  }